
<header>
    <div class="header-menu1">
        <span class="material-icons-round">
            menu
        </span>
        <span class="material-icons-round">
            search
        </span>
    </div>
    <div class="header-menu2">
        <span class="header-menu2__profile">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        </span>
    </div>
</header>