@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

body {
    color: #ebebeb;
}

.page-frame {
    width: 1200px;
    height: 100vh;
    margin: auto;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 30px;
    background-color: #2d3142;
    border-radius: 8px 8px 0 0;

    .logo {
        display: flex;
        align-items: center;
        font-size: 24px;
        padding: 10px;
        border: 2px solid #ebebeb;
        border-radius: 8px;
    }
    .actions {
        display: flex;
        align-items: center;
        gap: 20px;

        .action-btn {
            width: 56px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Material Icons";
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            padding: 10px;
            transition: brackground-color, 250ms;
            border-radius: 100%;
            background-color: #ef8354;

            &:hover {
                cursor: pointer;
                filter: brightness(0.8);
            }
        }
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: #ebebeb;

    .category-name {
        padding: 0 10px;
        font-size: 24px;
        border-radius: 0 8px 8px 0;
        background-color: #2d3142;
    }

    .products-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 5px 5px;

        .product-container {
            width: 194px;
            height: 350px;
            margin: 5px 5px 0 0;
            padding: 5px;
            background-color: white;
            border: 1px solid #c4c4c4b9;
            border-radius: 8px;
            img{
                width: 100%;
                height: 75%;
                object-fit: cover;
            }
            .info{
                padding: 0 5px;
                color: #2d3142;
                #description{
                    color: #ef8354;
                }
            }
        }
    }
}
