:root {
    /*
    ========== COLOR VARIABLES ========== */
    --mango: #ffbe0b;
    --azure: #3a86ff;
    --orange: #fb5607;
    --winter-sky: #ff006e;
    --violet: #8338ec;
    --violet-transp: #8338ec5d;
    --white: #ebf2ff;
    --oxford-blue: #000e29;
    --oxford-blue-transp: #000e29bd;
}

* {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    outline: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button, inupt[type=number] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

a {
    text-decoration: none;
}
a:visited{
    color: var(--white);
}

mark {
    background: var(--oxford-blue);
    color: var(--white);
    padding: 0 6px;
}

body {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 'g-header' 'g-content' 'g-footer';
    grid-template-rows: 10vh 80vh 10vh;
    color: var(--white);
    background: linear-gradient(to bottom, var(--oxford-blue), var(--white));
}

/*
    ========== CABEÇALHO ========== */

.l-header {
    display: flex;
    justify-content: center;
    grid-area: g-header;
}

.l-header__menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu-list__item {
    font-size: 20px;
    padding: 16px;
    margin-right: 10px;
    border-radius: 10px;
    background: var(--violet-transp);
    transition: 1000ms background;
}

.menu-list__item:hover {
    background: var(--violet);
    cursor: pointer;
}

.menu-list__item--active {
    background: var(--violet);
}

/*
    ========== CONTEUDO ========== */

.l-content {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: g-content;
}

.l-content__add-user {
    text-align: center;
    max-width: 450px;
    padding: 30px;
    background: var(--azure);
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--violet-transp);
}

.l-content__add-user h2 {
    margin-bottom: 20px;
}

.l-content__form {
    display: flex;
    flex-direction: column;
}

.form__input, .box__button {
    border: 0;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    transition: 250ms transform background;
}

.form__input:focus:not(.input-btn) {
    box-shadow: 0px 0px 8px var(--oxford-blue);
    transform: scale(1.1) ;
}

.input-btn:hover, .box__button:hover {
    cursor: pointer;
    background: var(--mango);
    transform: scale(.95);
}

.input-btn:focus, .box__button:focus {
    background: var(--mango);
    transform: scale(.95);
}

.empty-message {
    padding: 0;
    font-weight: 700;
    color: red;
    text-shadow: 2px 2px 5px var(--white);
}

/*
    ========== MODAL ========== */

.l-modal {
    position: absolute;
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--oxford-blue-transp);
    transition: 500ms;
}
.l-modal--active{
    display: flex;
    opacity: 1;
}
.l-modal__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: 250px;
    height: 150px;
    color: var(--oxford-blue);
    background: var(--white);
    border-radius: 10px;
}

.box__button {
    margin: 0;
    background: lightgrey;
}

/*
    ========== RODAPÉ ========== */

.l-footer {
    display: flex;
    grid-area: g-footer;
    justify-content: center;
    align-items: center;
    color: var(--oxford-blue);
}

.l-footer__info h3 {
    font-weight: bold;
}

@media only screen and (max-width:600px){
    .menu-list__item {
        font-size: 16px;
        padding: 8px;
        margin-right:5px;
        border-radius: 8px;
        background: var(--violet-transp);
        transition: 1000ms;
    }
}